<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>DendrytAA.html</welcome-file>
	</welcome-file-list>



	<servlet>
		<servlet-name>employeeServiceImpl</servlet-name>
		<servlet-class>
			com.dendrytdev.org.server.designer.EmployeeServiceImpl
  </servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>employeeServiceImpl</servlet-name>
		<url-pattern>/dendrytaa/EmployeeService</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>problemOverviewServlet</servlet-name>
		<servlet-class>com.dendrytdev.org.server.designer.ProblemOverviewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>problemOverviewServlet</servlet-name>
		<url-pattern>/dendrytaa/ProblemOverviewServlet</url-pattern>
	</servlet-mapping>
	
	

	<servlet>
		<servlet-name>AuthenticationServlet</servlet-name>
		<servlet-class>com.dendrytdev.org.server.login.AuthenticationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthenticationServlet</servlet-name>
		<url-pattern>/dendrytaa/AuthenticationServlet</url-pattern>
	</servlet-mapping>




	<servlet>
		<servlet-name>ProblemSubmitingServlet</servlet-name>
		<servlet-class>com.dendrytdev.org.server.client.ProblemSubmitingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProblemSubmitingServlet</servlet-name>
		<url-pattern>/dendrytaa/ProblemSubmitingServlet</url-pattern>
	</servlet-mapping>




	<servlet>
		<servlet-name>clientAdditionOverviewServiceImpl</servlet-name>
		<servlet-class>com.dendrytdev.org.server.designer.ClientAdditionOverviewServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>clientAdditionOverviewServiceImpl</servlet-name>
		<url-pattern>/dendrytaa/ClientAdditionOverviewService</url-pattern>
	</servlet-mapping>




	<servlet>
		<servlet-name>productsServiceImpl</servlet-name>
		<servlet-class>com.dendrytdev.org.server.designer.ProductsServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>productsServiceImpl</servlet-name>
		<url-pattern>/dendrytaa/ProductsService</url-pattern>
	</servlet-mapping>
	
	
	
	
		<servlet>
		<servlet-name>groupsServiceImpl</servlet-name>
		<servlet-class>com.dendrytdev.org.server.designer.GroupsServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>groupsServiceImpl</servlet-name>
		<url-pattern>/dendrytaa/GroupsService</url-pattern>
	</servlet-mapping>




		<servlet>
		<servlet-name>servicerServiceImpl</servlet-name>
		<servlet-class>com.dendrytdev.org.server.servicer.ServicerServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servicerServiceImpl</servlet-name>
		<url-pattern>/dendrytaa/ServicerService</url-pattern>
	</servlet-mapping>





		<servlet>
		<servlet-name>RaportOverviewServlet</servlet-name>
		<servlet-class>com.dendrytdev.org.server.designer.RaportOverviewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RaportOverviewServlet</servlet-name>
		<url-pattern>/dendrytaa/RaportOverviewServlet</url-pattern>
	</servlet-mapping>
	
	
	
</web-app>
